.App{
  text-align: center;
}
.tableApi{
  border: 2px solid rgb(245, 231, 231);
  padding: 0 50px;
  width: fit-content;
  margin: auto;
  text-align: left;
  border-radius: 10px;
  color: white;
}
.borderApi{
  background: linear-gradient(90deg,#d663a8, #4a1268);
  padding: 10px;
}
.text-dark{
  color: black;
  font-size: 18px;
}
.apiHeader{
  color:gold;
  text-decoration: underline;
  font-size: 18px;
  text-align: center;
}
.input{
  width: 40%;
  padding:10px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 50px;
  
}
.gitApi{
  text-align: center;
}
.btn{
  padding: 10px 20px;
  border-radius: 10px;
  background:radial-gradient(circle,rgb(0, 110, 255),rgb(0, 34, 128));
  color: white;
  border:2px solid blue;
  margin: 10px;
}
button:hover{
  background-color: rgb(178, 137, 216);
}
.card{
  border: 2px solid white;
  width: 47%;
  float: left;
  box-shadow: 5px 10px 10px rgb(119, 118, 118);
  background:radial-gradient(circle,rgb(146, 236, 236),rgb(2, 58, 87));
  
}
